{% extends 'base.html.twig' %}
{% block body %}

    {# Breadcrumb Navigation #}
    <div class="w-full pt-5 px-10 flex justify-center">
        <div class="w-full max-w-[1300px] flex items-center text-main">
            <a href="/" class="hover:underline">Trang chủ</a>
            <span class="mx-2">></span>
            <a href="{{ path('all_products', {'productLimit' : 10, 'categoryLimit' : 5}) }}" class="hover:underline">
                Tất cả sản phẩm</a>
            <span class="mx-2">></span>
            {% for category in categories %}
                {% if app.request.attributes.get('id') == category.id %}
                    <span>{{ category.name }}</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {# Header Section #}
    <div class="w-full pt-10 px-10 flex justify-center">
        <div class="w-full max-w-[1300px] justify-between flex">
            <div class="w-6/12 mt-10">
                <p class="pt-4 text-main">
                    Giải pháp đáng tin cậy, hiệu quả
                </p>
                <h1 class="text-4xl font-extrabold text-main uppercase">
                    Tất cả sản phẩm
                </h1>
                <p class="pt-4 pb-6 text-main max-w-[550px]">
                    Nâng cao sức khỏe cho thú cưng của bạn với nhiều sản phẩm của chúng tôi được thiết kế để hỗ trợ sức
                    khỏe và sự phát triển của thú cưng của bạn.
                    niềm hạnh phúc. Từ những món ăn nhẹ dịu và nhai hỗ trợ khớp cho đến những thứ cần thiết cho việc
                    chải chuốt, tất cả đều được chế tạo bằng
                    Thành phần tự nhiên và được kiểm tra nghiêm ngặt về chất lượng. Hãy tin tưởng Honest Paws để mang
                    đến những điều tốt nhất cho
                    sức khỏe của người bạn lông xù của bạn.
                </p>
            </div>
            <div class="w-6/12 ">
                <img class="rounded-2xl" src="{{ asset('/img/index/allproductslider.png') }}"
                     alt="Image of a cat and a dog playing together">
            </div>
        </div>
    </div>

    {# Categories Section #}
    <div class="w-full pt-10 px-10 flex justify-center">
        <div class="w-full max-w-[1300px] flex justify-center gap-5">
            {% for category in categories %}
                <a href="{{ path('category_by_id', {'id': category.id}) }}">
                    <button id=""
                            class="{% if category.id == app.request.attributes.get('id') %}bg-[#00205c] text-white{% else %}bg-blue-200{% endif %} text-main py-2 px-4 rounded-full">
                        {{ category.name }}
                    </button>

                </a>
            {% endfor %}
        </div>
    </div>

    {# Features Section #}
    <div class="w-full pt-10 px-10 flex justify-center">
        <div class="w-full max-w-[1300px] flex justify-center gap-10">
            <div class="flex flex-col items-center">
                <img class="max-h-[32px]" src="{{ asset('/img/index/icons/USA_200x.svg') }}" alt="USA Made">
                <span class="text-main">USA Made</span>
            </div>
            <div class="flex flex-col items-center">
                <img class="max-h-[32px]" src="{{ asset('/img/index/icons/traceble.svg') }}" alt="100% Traceable">
                <span class="text-main">100% Traceable</span>
            </div>
            <div class="flex flex-col items-center">
                <img class="max-h-[32px]" src="{{ asset('/img/index/icons/lab.svg') }}" alt="Lab Tested">
                <span class="text-main">Lab Tested</span>
            </div>
            <div class="flex flex-col items-center">
                <img class="max-h-[32px]" src="{{ asset('/img/index/icons/orgainc.svg') }}" alt="USDA Organic">
                <span class="text-main">USDA Organic</span>
            </div>
        </div>
    </div>

    {# Products Section #}
    <div class="flex justify-center w-full pt-12 text-main">
        <div class="flex gap-x-10 w-full max-w-[1400px] flex-wrap">
            {% if products %}
                {% for product in products %}
                    <div class="flex flex-col justify-between bg-[#f0f5ff] items-center rounded-lg w-[350px] mt-4 p-4 mx-2">
                        <a href="{{ path('product_details', {'id' : product.id}) }}">
                            <div class="relative">
                                <span class="absolute top-2 left-2 bg-yellow-400 text-main font-bold py-1 px-2 rounded">Bestseller</span>
                                <div class="flex justify-center bg-white rounded-lg">
                                    <img class="h-[350px] object-fill"
                                         src="{{ asset('img/blobs/' ~ product.imageUrl) }}"
                                         alt="{{ product.name }}">
                                </div>
                            </div>
                        </a>
                        <div class="flex items-center">
                            <p class="my-4 py-3 text-xl font-bold text-center w-full">{{ product.name }}</p>
                        </div>
                        <p class="pb-4 text-center">{{ product.description }}</p>
                        <div class="w-full px-5">
                            <!-- Add a valid href if "Add to Cart" should be a link, or change to a button -->
                            {{ form_start(cartForm, {'attr': {'action': path('cart_new')}}) }}
                            {{ form_widget(cartForm.productId, {'value': product.id}) }}
                            {{ form_widget(cartForm.quantity, {'value': 1, 'attr': {'id': 'hiddenQuantity'}}) }}
                            {{ form_widget(cartForm.imgUrl, {'value': product.imageUrl}) }}
                            {{ form_widget(cartForm.name, {'value': product.name}) }}
                            {{ form_widget(cartForm.price, {'value': product.getDiscountedPrice}) }}
                            <button type="submit"
                                    class="h-[54px] w-full max-w-[355px] rounded-full flex justify-center items-center bg-[#00205c] hover:border-[#00205c] hover:border-2 hover:bg-[#FADC6F] group transition-all duration-200">
                                <p class="text-white group-hover:text-main">
                                    Add to Cart
                                </p>
                            </button>
                            {{ form_end(cartForm) }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="flex justify-center w-full py-8">
                    <p class="text-main text-center text-3xl font-bold">Không có bất kỳ sản phẩm nào</p>
                </div>
            {% endif %}
        </div>

    </div>
    
{% endblock body %}
