
<h1>Edit Product</h1>

{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.productUseGuide) }}
{{ form_row(form.imageFile) }}
{{ form_row(form.discountPercent) }}
{{ form_row(form.save) }}
{{ form_end(form) }}
