{% extends 'base.html.twig' %}

{% block body %}
    {% if product %}
        <div class="container mx-auto px-4 py-8 text-main">
            <div class="flex">
                <!-- Product Image -->
                <div class="w-1/2 shadow-lg">
                    <img src="{{ asset('img/blobs/' ~ product.imageUrl) }}" alt="Product Image">
                </div>

                <!-- Product Details -->
                <div class="w-1/2 pl-8">
                    <h2 class="text-4xl font-bold mb-4">{{ product.name }}</h2>
                    <p class="text-lg mb-2">{{ product.description }}</p>

                    <!-- Product Price -->
                    <div class="flex items-center mb-4">
                        <div id="totalPrice" class="text-3xl font-bold text-red-600 mr-2">
                            ${{ '%0.2f'|format(product.getDiscountedPrice()) }}</div>
                        <div class="text-gray-500 line-through">${{ product.price }}</div>
                        <div class="ml-4 bg-red-100 text-red-600 px-2 py-1 rounded">
                            SAVE {{ product.discountPercent }}%
                        </div>
                    </div>
                    <!-- Quantity Selector -->
                    <div class="mb-4 flex items-center">
                        <button type="button" class="bg-gray-200 text-gray-800 px-2 py-1" id="decreaseQuantity">-
                        </button>
                        <input type="text" value="1" class="w-12 text-center mx-2 border border-gray-300 rounded"
                               id="quantityInput">
                        <button type="button" class="bg-gray-200 text-gray-800 px-2 py-1" id="increaseQuantity">+
                        </button>
                    </div>

                    <!-- Stock Status -->
                    <div class="w-full px-5">
                        <!-- Add a valid href if "Add to Cart" should be a link, or change to a button -->
                        {{ form_start(cartForm, {'attr': {'action': path('cart_new')}}) }}
                        {{ form_widget(cartForm.productId, {'value': product.id}) }}
                        {{ form_widget(cartForm.quantity, {'value': 1}) }}
                        {{ form_widget(cartForm.imgUrl, {'value': product.imageUrl}) }}
                        {{ form_widget(cartForm.name, {'value': product.name}) }}
                        {{ form_widget(cartForm.price, {'value': product.getDiscountedPrice}) }}
                        <button type="submit"
                                class="h-[54px] w-full max-w-[355px] rounded-full flex justify-center items-center bg-[#00205c] hover:border-[#00205c] hover:border-2 hover:bg-[#FADC6F] group transition-all duration-200">
                            <p class="text-white group-hover:text-main">
                                Thêm vào giỏ
                            </p>
                        </button>
                        {{ form_end(cartForm) }}
                    </div>
                    <div class="mt-4 pr-4">
                        <h3 class="text-xl font-semibold mb-2">Hướng dẫn sử dụng</h3>
                        <p>{{ product.productUseGuide }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Product not found.</p>
    {% endif %}
{% endblock %}