<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

    <div class="bg-gray-100 font-sans antialiased">
        <div class="flex">
            <!-- Sidebar -->
            <div class="w-64 bg-white h-screen shadow-lg">
                <div class="p-4">
                    <div class="flex items-center">
                    {% if app.user and app.user.avatarLink %}
                        <img src="{{ asset('/img/blobs/' ~ app.user.avatarLink) }}" width="80px" class="rounded-full mr-3" alt="User Image">
                        <div>
                            <h2 class="text-lg font-semibold">{{ app.user.username}}</h2>
                            <p class="text-gray-500 text-sm">{{ app.user.roles[0]}}</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
                <nav class="mt-6">
                    <a href="{{path('admin_dashboard')}}" class="flex items-center p-4 text-blue-600 bg-gray-100">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M14 21C13.4477 21 13 20.5523 13 20V12C13 11.4477 13.4477 11 14 11H20C20.5523 11 21 11.4477 21 12V20C21 20.5523 20.5523 21 20 21H14ZM4 13C3.44772 13 3 12.5523 3 12V4C3 3.44772 3.44772 3 4 3H10C10.5523 3 11 3.44772 11 4V12C11 12.5523 10.5523 13 10 13H4ZM9 11V5H5V11H9ZM4 21C3.44772 21 3 20.5523 3 20V16C3 15.4477 3.44772 15 4 15H10C10.5523 15 11 15.4477 11 16V20C11 20.5523 10.5523 21 10 21H4ZM5 19H9V17H5V19ZM15 19H19V13H15V19ZM13 4C13 3.44772 13.4477 3 14 3H20C20.5523 3 21 3.44772 21 4V8C21 8.55228 20.5523 9 20 9H14C13.4477 9 13 8.55228 13 8V4ZM15 5V7H19V5H15Z"></path></svg>                      
                    <span class="ml-2">Bảng điều khiển</span>
                    </a>
                    <a href="{{path('admin_products')}}" class="flex items-center p-4 text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22ZM19 20V4H5V20H19ZM8 7H16V9H8V7ZM8 11H16V13H8V11ZM8 15H16V17H8V15Z"></path></svg>
                        <span class="ml-2">Sản phẩm</span>
                    </a>
                    <a href="{#{{path('admin_users')}}#}" class="flex items-center p-4 text-blue-600 hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H18C18 18.6863 15.3137 16 12 16C8.68629 16 6 18.6863 6 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11Z"></path></svg>
                        <span class="ml-2">Người dùng</span>
                    </a>
                </nav>
                <div class="mt-auto p-4">
                        <a href="{{path('_logout_main')}}"><span class="ml-2 text-red-600">Đăng xuất</span></a>
                </div>
            </div>
            
            <div class="flex-1 p-6">
                <div class="flex justify-between items-center">
                    {% block tieude %} aaaa
                    {% endblock %}
                    <div class="flex items-center space-x-4">
                        <input type="text" class="p-2 border rounded-lg" placeholder="Search">
                        {% if app.user and app.user.avatarLink %}
                            <img src="{{ asset('/img/blobs/' ~ app.user.avatarLink) }}" width="50px" class="rounded-full mr-3" alt="User Image">
                                <h2 class="text-lg font-semibold">{{ app.user.username}}</h2>
                        {% endif %}
                    </div>
                </div>
            <!-- Content -->
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>
